<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.evergrande.hdtms.mapper.teacher.TaskMapper" >
  <resultMap id="BaseResultMap" type="com.evergrande.hdtms.model.teacher.Task" >
    <id column="t_pk_id" property="tPkId" jdbcType="INTEGER" />
    <result column="t_task_id" property="tTaskId" jdbcType="CHAR" />
    <result column="t_tutor_id" property="tTutorId" jdbcType="CHAR" />
    <result column="t_name" property="tName" jdbcType="VARCHAR" />
    <result column="t_category" property="tCategory" jdbcType="INTEGER" />
    <result column="t_content" property="tContent" jdbcType="VARCHAR" />
    <result column="t_state" property="tState" jdbcType="INTEGER" />
    <result column="t_time" property="tTime" jdbcType="INTEGER" />
    <result column="t_creater" property="tCreater" jdbcType="VARCHAR" />
    <result column="t_create_time" property="tCreateTime" jdbcType="TIMESTAMP" />
    <result column="t_operator" property="tOperator" jdbcType="VARCHAR" />
    <result column="t_operate_date" property="tOperateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    t_pk_id, t_task_id, t_tutor_id, t_name, t_category, t_content, t_state, t_time, t_creater, 
    t_create_time, t_operator, t_operate_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.evergrande.hdtms.model.teacher.TaskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from task
    where t_pk_id = #{tPkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from task
    where t_pk_id = #{tPkId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.evergrande.hdtms.model.teacher.TaskExample" >
    delete from task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.evergrande.hdtms.model.teacher.Task" >
    insert into task (t_pk_id, t_task_id, t_tutor_id, 
      t_name, t_category, t_content, 
      t_state, t_time, t_creater, 
      t_create_time, t_operator, t_operate_date
      )
    values (#{tPkId,jdbcType=INTEGER}, #{tTaskId,jdbcType=CHAR}, #{tTutorId,jdbcType=CHAR}, 
      #{tName,jdbcType=VARCHAR}, #{tCategory,jdbcType=INTEGER}, #{tContent,jdbcType=VARCHAR}, 
      #{tState,jdbcType=INTEGER}, #{tTime,jdbcType=INTEGER}, #{tCreater,jdbcType=VARCHAR}, 
      #{tCreateTime,jdbcType=TIMESTAMP}, #{tOperator,jdbcType=VARCHAR}, #{tOperateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.evergrande.hdtms.model.teacher.Task" >
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tPkId != null" >
        t_pk_id,
      </if>
      <if test="tTaskId != null" >
        t_task_id,
      </if>
      <if test="tTutorId != null" >
        t_tutor_id,
      </if>
      <if test="tName != null" >
        t_name,
      </if>
      <if test="tCategory != null" >
        t_category,
      </if>
      <if test="tContent != null" >
        t_content,
      </if>
      <if test="tState != null" >
        t_state,
      </if>
      <if test="tTime != null" >
        t_time,
      </if>
      <if test="tCreater != null" >
        t_creater,
      </if>
      <if test="tCreateTime != null" >
        t_create_time,
      </if>
      <if test="tOperator != null" >
        t_operator,
      </if>
      <if test="tOperateDate != null" >
        t_operate_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tPkId != null" >
        #{tPkId,jdbcType=INTEGER},
      </if>
      <if test="tTaskId != null" >
        #{tTaskId,jdbcType=CHAR},
      </if>
      <if test="tTutorId != null" >
        #{tTutorId,jdbcType=CHAR},
      </if>
      <if test="tName != null" >
        #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tCategory != null" >
        #{tCategory,jdbcType=INTEGER},
      </if>
      <if test="tContent != null" >
        #{tContent,jdbcType=VARCHAR},
      </if>
      <if test="tState != null" >
        #{tState,jdbcType=INTEGER},
      </if>
      <if test="tTime != null" >
        #{tTime,jdbcType=INTEGER},
      </if>
      <if test="tCreater != null" >
        #{tCreater,jdbcType=VARCHAR},
      </if>
      <if test="tCreateTime != null" >
        #{tCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tOperator != null" >
        #{tOperator,jdbcType=VARCHAR},
      </if>
      <if test="tOperateDate != null" >
        #{tOperateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.evergrande.hdtms.model.teacher.TaskExample" resultType="java.lang.Integer" >
    select count(*) from task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update task
    <set >
      <if test="record.tPkId != null" >
        t_pk_id = #{record.tPkId,jdbcType=INTEGER},
      </if>
      <if test="record.tTaskId != null" >
        t_task_id = #{record.tTaskId,jdbcType=CHAR},
      </if>
      <if test="record.tTutorId != null" >
        t_tutor_id = #{record.tTutorId,jdbcType=CHAR},
      </if>
      <if test="record.tName != null" >
        t_name = #{record.tName,jdbcType=VARCHAR},
      </if>
      <if test="record.tCategory != null" >
        t_category = #{record.tCategory,jdbcType=INTEGER},
      </if>
      <if test="record.tContent != null" >
        t_content = #{record.tContent,jdbcType=VARCHAR},
      </if>
      <if test="record.tState != null" >
        t_state = #{record.tState,jdbcType=INTEGER},
      </if>
      <if test="record.tTime != null" >
        t_time = #{record.tTime,jdbcType=INTEGER},
      </if>
      <if test="record.tCreater != null" >
        t_creater = #{record.tCreater,jdbcType=VARCHAR},
      </if>
      <if test="record.tCreateTime != null" >
        t_create_time = #{record.tCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tOperator != null" >
        t_operator = #{record.tOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.tOperateDate != null" >
        t_operate_date = #{record.tOperateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update task
    set t_pk_id = #{record.tPkId,jdbcType=INTEGER},
      t_task_id = #{record.tTaskId,jdbcType=CHAR},
      t_tutor_id = #{record.tTutorId,jdbcType=CHAR},
      t_name = #{record.tName,jdbcType=VARCHAR},
      t_category = #{record.tCategory,jdbcType=INTEGER},
      t_content = #{record.tContent,jdbcType=VARCHAR},
      t_state = #{record.tState,jdbcType=INTEGER},
      t_time = #{record.tTime,jdbcType=INTEGER},
      t_creater = #{record.tCreater,jdbcType=VARCHAR},
      t_create_time = #{record.tCreateTime,jdbcType=TIMESTAMP},
      t_operator = #{record.tOperator,jdbcType=VARCHAR},
      t_operate_date = #{record.tOperateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.evergrande.hdtms.model.teacher.Task" >
    update task
    <set >
      <if test="tTaskId != null" >
        t_task_id = #{tTaskId,jdbcType=CHAR},
      </if>
      <if test="tTutorId != null" >
        t_tutor_id = #{tTutorId,jdbcType=CHAR},
      </if>
      <if test="tName != null" >
        t_name = #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tCategory != null" >
        t_category = #{tCategory,jdbcType=INTEGER},
      </if>
      <if test="tContent != null" >
        t_content = #{tContent,jdbcType=VARCHAR},
      </if>
      <if test="tState != null" >
        t_state = #{tState,jdbcType=INTEGER},
      </if>
      <if test="tTime != null" >
        t_time = #{tTime,jdbcType=INTEGER},
      </if>
      <if test="tCreater != null" >
        t_creater = #{tCreater,jdbcType=VARCHAR},
      </if>
      <if test="tCreateTime != null" >
        t_create_time = #{tCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tOperator != null" >
        t_operator = #{tOperator,jdbcType=VARCHAR},
      </if>
      <if test="tOperateDate != null" >
        t_operate_date = #{tOperateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where t_pk_id = #{tPkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.evergrande.hdtms.model.teacher.Task" >
    update task
    set t_task_id = #{tTaskId,jdbcType=CHAR},
      t_tutor_id = #{tTutorId,jdbcType=CHAR},
      t_name = #{tName,jdbcType=VARCHAR},
      t_category = #{tCategory,jdbcType=INTEGER},
      t_content = #{tContent,jdbcType=VARCHAR},
      t_state = #{tState,jdbcType=INTEGER},
      t_time = #{tTime,jdbcType=INTEGER},
      t_creater = #{tCreater,jdbcType=VARCHAR},
      t_create_time = #{tCreateTime,jdbcType=TIMESTAMP},
      t_operator = #{tOperator,jdbcType=VARCHAR},
      t_operate_date = #{tOperateDate,jdbcType=TIMESTAMP}
    where t_pk_id = #{tPkId,jdbcType=INTEGER}
  </update>
</mapper>